In [2]:
import pandas as pd

## Reading data

In [4]:
df = pd.read_csv('data/my_activity_data=20241115233935.csv')
print('Dataframe Shape:', df.shape)
df.head()

Dataframe Shape: (335, 60)

,resource_state,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,workout_type,id,...,from_accepted_tag,pr_count,total_photo_count,has_kudoed,suffer_score,athlete.id,athlete.resource_state,map.id,map.summary_polyline,map.resource_state
0,2,Volume,10723.9,4222,4278,87.0,Run,Run,NaN,12907973319,...,False,0,0,False,114.0,64383208,1,a12907973319,}~biHoseNt@Kr@Wf@CPMn@UTFv@Fv@L`@Bl@L`A@r@Hp@C...,2
1,2,Entraînement aux poids dans l'après-midi,0.0,4173,4173,0.0,WeightTraining,WeightTraining,NaN,12892104095,...,False,0,0,False,8.0,64383208,1,a12892104095,NaN,2
2,2,Volume,10277.0,3892,3897,94.0,Run,Run,NaN,12885276021,...,False,0,0,False,94.0,64383208,1,a12885276021,{~biHuseNt@Id@OHC?Cd@El@WXEPF`AHd@FR?vAR`@?|@J...,2
3,2,Entraînement aux poids dans l'après-midi,0.0,2900,2900,0.0,WeightTraining,WeightTraining,NaN,12885274347,...,False,0,0,False,6.0,64383208,1,a12885274347,NaN,2
4,2,Volume + 4*1000,15696.7,6262,6708,66.0,Run,Run,0.0,12851915546,...,False,4,3,False,150.0,64383208,1,a12851915546,kaciHaceNt@nBp@r@`BtCzBvFtA|BJh@rArB`AlCfAvAp@...,2

In [5]:
# List all columns in the dataframe
print("Features in the dataset:")
for col in df.columns:
    print(f"- {col}")

Features in the dataset:
- resource_state
- name
- distance
- moving_time
- elapsed_time
- total_elevation_gain
- type
- sport_type
- workout_type
- id
- start_date
- start_date_local
- timezone
- utc_offset
- location_city
- location_state
- location_country
- achievement_count
- kudos_count
- comment_count
- athlete_count
- photo_count
- trainer
- commute
- manual
- private
- visibility
- flagged
- gear_id
- start_latlng
- end_latlng
- average_speed
- max_speed
- average_cadence
- average_temp
- average_watts
- max_watts
- weighted_average_watts
- device_watts
- kilojoules
- has_heartrate
- average_heartrate
- max_heartrate
- heartrate_opt_out
- display_hide_heartrate_option
- elev_high
- elev_low
- upload_id
- upload_id_str
- external_id
- from_accepted_tag
- pr_count
- total_photo_count
- has_kudoed
- suffer_score
- athlete.id
- athlete.resource_state
- map.id
- map.summary_polyline
- map.resource_state

### Features useful for performance prediction :
- id (useful to match the other csv)
- distance
- moving_time
- elapsed_time
- total_elevation_gain
- type
- average_heartrate
- max_heartrate
- suffer_score (=> relative effort)

In [10]:
# Create a new DataFrame with selected features
selected_features = ['id', 'distance', 'moving_time', 'elapsed_time', 'total_elevation_gain', 
                    'type', 'average_heartrate', 'max_heartrate', 'suffer_score']

df_selected = df[selected_features].copy()

# Display the shape and first few rows of the new DataFrame
print('Selected Features DataFrame Shape:', df_selected.shape)
df_selected.head()

Selected Features DataFrame Shape: (335, 9)

,id,distance,moving_time,elapsed_time,total_elevation_gain,type,average_heartrate,max_heartrate,suffer_score
0,12907973319,10723.9,4222,4278,87.0,Run,158.7,170.0,114.0
1,12892104095,0.0,4173,4173,0.0,WeightTraining,91.2,129.0,8.0
2,12885276021,10277.0,3892,3897,94.0,Run,156.0,169.0,94.0
3,12885274347,0.0,2900,2900,0.0,WeightTraining,98.7,145.0,6.0
4,12851915546,15696.7,6262,6708,66.0,Run,156.2,179.0,150.0

## Reading Activities data

In [7]:
activities_df = pd.read_csv('data/activities.csv')
print('Activities Dataframe Shape:', activities_df.shape)
activities_df.head()

Activities Dataframe Shape: (290, 94)

,ID de l'activité,Date de l'activité,Nom de l'activité,Type d'activité,Description de l'activité,Temps écoulé,Distance,Fréquence cardiaque maximum,Mesure d'effort,Déplacement-transport,...,Nombre d'activités,Nombre total de pas,CO2 économisé,Longueur de piscine,Charge d’entraînement,Intensité,Vitesse moyenne ajustée selon la pente,Temps enregistré par le chronomètre,Nombre total de cycles,Support
0,8160896480,23 nov. 2022 à 18:37:19,Marche en soirée,Marche,NaN,864,"1,15",172.0,8.0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8180479096,28 nov. 2022 à 15:53:38,Course à pied dans l'après-midi,Course à pied,NaN,128,"0,28",155.0,0.0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8180538494,28 nov. 2022 à 15:59:21,Course à pied dans l'après-midi,Course à pied,NaN,635,"2,03",180.0,13.0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8235550009,11 déc. 2022 à 12:39:39,Course à pied dans l'après-midi,Course à pied,NaN,193,"0,45",159.0,1.0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8235755229,11 déc. 2022 à 13:08:46,Course à pied dans l'après-midi,Course à pied,NaN,745,"2,02",183.0,15.0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# List all columns in the dataframe
print("Features in the dataset:")
for col in activities_df.columns:
    print(f"- {col}")

Features in the dataset:
- ID de l'activité
- Date de l'activité
- Nom de l'activité
- Type d'activité
- Description de l'activité
- Temps écoulé
- Distance
- Fréquence cardiaque maximum
- Mesure d'effort
- Déplacement-transport
- Note privée sur les activités
- Matériel utilisé pour l'activité
- Nom du fichier
- Poids de l'athlète
- Poids du vélo
- Temps écoulé.1
- Durée de déplacement
- Distance.1
- Vitesse max.
- Vitesse moyenne
- Dénivelé positif
- Dénivelé négatif
- Altitude min.
- Altitude max.
- Pente max.
- Pente moyenne
- Pente positive moyenne
- Pente négative moyenne
- Cadence max.
- Cadence moyenne
- Fréquence cardiaque maximum.1
- Fréquence cardiaque moyenne
- Puissance max.
- Puissance moyenne
- Calories
- Température max.
- Température moyenne
- Mesure d'effort.1
- Effort total
- Nombre de sorties course à pied
- Temps de montée
- Temps de descente
- Autres temps
- Effort ressenti
- Type
- Heure de début
- Puissance moyenne pondérée
- Nombre d'échantillons de puissance
- Utiliser l'Effort ressenti
- Mesure d'effort ressenti
- Déplacement-transport.1
- Poids total soulevé
- À partir du téléchargement
- Distance ajustée selon la pente
- Heure d'observation de la météo
- Conditions météo
- Température selon les prévisions météo
- Température ressentie
- Point de rosée
- Humidité
- Pression atmosphérique
- Vitesse du vent
- Rafale de vent
- Direction du vent
- Intensité des précipitations
- Heure de lever du soleil
- Heure de coucher du soleil
- Phase de la lune
- Vélo
- Matériel
- Probabilité de précipitations
- Type de précipitations
- Couverture nuageuse
- Visibilité selon les prévisions météo
- Indice UV
- Ozone selon les prévisions météo
- Nombre de sauts
- Grit total
- Flow moyen
- Signalé
- Vitesse moyenne (temps écoulé)
- Distance sur chemin
- Distance récemment découverte
- Distance sur chemin récemment découverte
- Nombre d'activités
- Nombre total de pas
- CO2 économisé
- Longueur de piscine
- Charge d’entraînement
- Intensité
- Vitesse moyenne ajustée selon la pente
- Temps enregistré par le chronomètre
- Nombre total de cycles
- Support

### Features useful for performance prediction :
- ID de l'activité
- Temps écoulé
- Distance
- Fréquence cardiaque maximum
- Fréquence cardiaque maximum.1
- Mesure d'effort
- Mesure d'effort.1
- Vitesse max.
- Vitesse moyenne
- Dénivelé positif
- Dénivelé négatif
- Pente moyenne
- Fréquence cardiaque moyenne
- Charge d’entraînement
- Intensité

In [16]:
# Create a new DataFrame with selected features from activities_df
selected_features_activities = [
    'ID de l\'activité',
    'Type d\'activité',
    'Temps écoulé',
    'Distance',
    'Fréquence cardiaque maximum',
    'Fréquence cardiaque maximum.1',
    'Mesure d\'effort',
    'Mesure d\'effort.1',
    'Vitesse max.',
    'Vitesse moyenne',
    'Dénivelé positif',
    'Dénivelé négatif',
    'Pente moyenne',
    'Fréquence cardiaque moyenne',
    'Charge d’entraînement',
    'Intensité'
]

activities_df_selected = activities_df[selected_features_activities].copy()

# Display the shape and first few rows of the new DataFrame
print('Selected Features Activities DataFrame Shape:', activities_df_selected.shape)
activities_df_selected.head()

Selected Features Activities DataFrame Shape: (290, 16)

,ID de l'activité,Type d'activité,Temps écoulé,Distance,Fréquence cardiaque maximum,Fréquence cardiaque maximum.1,Mesure d'effort,Mesure d'effort.1,Vitesse max.,Vitesse moyenne,Dénivelé positif,Dénivelé négatif,Pente moyenne,Fréquence cardiaque moyenne,Charge d’entraînement,Intensité
0,8160896480,Marche,864,"1,15",172.0,NaN,8.0,8.0,2.020001,1.362073,13.656097,353.0,0.804220,135.943436,NaN,NaN
1,8180479096,Course à pied,128,"0,28",155.0,NaN,0.0,0.0,2.960001,2.233600,3.790590,21.0,0.071633,137.968002,NaN,NaN
2,8180538494,Course à pied,635,"2,03",180.0,NaN,13.0,13.0,3.960001,3.214225,26.415480,0.0,-0.177219,159.009491,NaN,NaN
3,8235550009,Course à pied,193,"0,45",159.0,NaN,1.0,1.0,3.240000,2.385737,0.000000,41.0,0.022061,146.726318,NaN,NaN
4,8235755229,Course à pied,745,"2,02",183.0,NaN,15.0,15.0,3.742017,2.727076,0.000000,132.0,0.000000,160.250671,NaN,NaN